<!DOCTYPE html>
<html>
	<head>
		{% load staticfiles %}
		<title> 
			{% block title %}
			{% endblock %}
		</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link rel="stylesheet" href="{% static 'vendor/semanticui/semantic.min.css' %}">

		<link rel="stylesheet" href="{% static 'css/project.css' %}">

		<script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}" ></script>

		<script src="{% static 'js/project.js' %}"></script>

		
	</head>
	<body>

		<div class="ui segment">
			<div class="ui fixed top attached menu"></div>
		</div>
		
		<div class="container">
			{% block content %}
			{% endblock %}
		</div>
	</body>

	<footer class="site-footer"></footer>
</html>